body {
  background-color: #9266ff;
}

.App {
  background-color: #3f3160;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}

#to-do-form {
  display: flex;
  border-bottom: 1px solid;
  color: white;
}

#to-do-form input,
textarea {
  background-color: rgba(27, 112, 137, 1);
  border: 0;
  color: #fff;
  width: 200px;
  margin: 20px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 10px;
}
#to-do-form label{
  margin-left: 23px;
  font-size: 19px;
  color: #23b0ff;
}
#to-do-form input {
  height: 50px;
}

#to-do-form textarea {
  height: 90px;
}

#to-do-form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#to-do-form textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#to-do-form input,
textarea:focus {
  outline: none;
}

#to-do-form button {
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: rgba(202, 156, 24, 1);
  cursor: pointer;
  margin-top: 200px;
  margin-right: 50px;
}

#to-do-form button:focus {
  outline: none;
}